<!DOCTYPE html>

<html>
    <head>
        <title> Books Management System </title>
        <p> List all books !!! </p>
    </head>

    <body>
        <div>
            <table border='1' cellpadding="10">
                <tr>
                    <th> Name </th>
                    <th> Author </th>
                    <th> Price </th>
                    <th> Description </th>
               </tr>
                <!--{% csrf_token %}-->
                {% for book in books %}
                <tr>
                    <td> {{ book.name }} </td>
                    <td> {{ book.author }} </td>
                    <td> {{ book.price }} </td>
                    <td> {{ book.description }} </td>
               </tr>
                {% endfor %}
            </table>
        </div>
        <br>

        <div> <a href="{% url 'add' %}"> Add a new book </a> </div>
        <br>
        <div> <a href="{% url 'index' %}"> Index </a> </div>
    </body>
</html>
