<!DOCTYPE html>

{% extends 'base.html' %}

{% block errors %}
    {% for error in errors %}
        {{ error }}<br>
    {% endfor %}
{% endblock %}

{% block content %}
    <div style = "padding: 100px 100px 10px;">
        <form class = "form-horizontal" role = "form" id = "signin">
        {% csrf_token %}
            <div class ="form-group">
                <label for = "username" class = "control-label col-sm-4">User Name</label>
                    <div class = "col-sm-3">
                        <input type = "text" class = "form-control" id = "username" name = "username" placeholder = "Please input your name...">
                    </div>
            </div>

            <div class = "form-group">
                <label for = "password" class = "control-label col-sm-4">Password</label>
                    <div class = "col-sm-3">
                        <input type = "password" class = "form-control" id = "password" name = "password" placeholder = "Please input your password...">
                    </div>
            </div>

            <div class = "form-group">
                <div class="col-sm-7" align="right">
                    <a href="#" class="btn btn-link text-muted">Forgot password?</a>
                    <a href = "{% url 'signup' %}" class = "btn btn-link text-muted">Sign Up</a>
                    <button value="signin" type = "submit" id="signin_btn" class="btn btn-primary" type="submit">Sign In</button>
                </div>
            </div>
      </form>
    </div>
{% endblock %}
